altair


fbprophet

htbuilder

ipykernel
ipython

matplotlib
matplotlib-inline

notebook
numpy
packaging
pandas
pandas-datareader

Pillow


pystan==2.19.1.1
python-dateutil
pytz

requests
scikit-learn
scipy
seaborn

st-annotated-text

streamlit




Cython
convertdate

yfinance

plotly
