


pandas==1.2.2
pystan==2.19.1.1
holidays==0.10.5.2
fbprophet==0.7.1
plotly==4.14.3
altair==4.1.0
streamlit==0.77.0
numpy==1.19.2



htbuilder

ipykernel
ipython

matplotlib
matplotlib-inline

notebook

packaging

pandas-datareader

Pillow


python-dateutil
pytz

requests
scikit-learn
scipy
seaborn

st-annotated-text






Cython
convertdate

yfinance


